@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,900;1,300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    color:#f9faf8;
    display: flex;
    flex-direction: column;
}

.top {
    background-color: #1f2937;
    display:flex;
    justify-content: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.menu {
    padding: 20px 0 0;
    display: flex;
    justify-content: space-between;
}

.tabs {
    font-size: 18px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 24px;
}

.tabs a {
    text-decoration: none;
    color: #e5e7eb;
}

.banner {
    padding: 125px 0;
    display: flex;
    align-items: center;
}

.banner-item {
    width: 500px;
}

.banner-img {
    background-color: darkgrey;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bold;
}

.hero-text {
    padding-right: 50px;
    padding-bottom: 12px;
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    border: none;
    color:#f9faf8;
    font-weight: bold;
    padding: 8px 40px;
    text-align: center;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    padding: 45px 0;
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}

.info-cards {
    padding-bottom: 90px;
    display: flex;
    gap: 48px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 150px;
    font-size: 16px;
    gap: 4px;
}

.box {
    border: 4px solid #3882f6;
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

.text {
    text-align: center;
    color: #57595c;
}

.ref-section {
    padding: 100px 0;
    background-color:#e5e7eb;
    display: flex;
}

.ref-wrapper {
    display: flex;
    flex-direction: column;
}
.referral {
    width: 790px;
    color: #57595c;
    font-size: 36px;
    font-style: italic;
    flex-basis: auto;
}

.ref-signature {
    color: #1f2937;
    font-weight: bold;
    font-size: 22px;
    padding-right: 30px;
    align-self: flex-end;
}

.extra-section {
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta {
    width: 1000px;
    box-sizing: border-box;
    padding: 50px 110px;
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.cta-left {
}

.cta-title {
    font-size: 24px;
    font-weight: bold;
}

.cta-right button {
    background-color: #3882f6;
    border: 2px solid #f9faf8;
    color:#f9faf8;
    font-weight: bold;
    padding: 8px 40px;
    text-align: center;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
}

.footer {
    height: 64px;
    background-color: #1f2937;
    font-size: 14px;
    color:#f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
}